* {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    background-color: #ffedf5;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#panel-1 {
    display: none;
}

#panel-2 {
    display: none;
}

#count_num {
    display: block;
    font-size: 120px;
    opacity: .5;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.level-group {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(10%, -50%);
}

.level-block {
    width: 300px;
    height: 50px;
    display: flex;
    margin-bottom: 1em;
    background-color: #fff;
    padding: 0.6em;
    border-radius: 5em;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 3px #ddd;
}

.level-block .title {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 50%;
    font-size: 26px;
    line-height: 1;
    padding-left: 0.02em;
    padding-bottom: 0.02em;
}

.level-block .status {
    width: 200px;
    height: 50px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.level-block .status.success {
    color: #5862ff;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: .2;
    z-index: -1;
    filter: blur(2px);
}

#canvas-firework {
    background: #fff;
    mix-blend-mode: soft-light;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

#container {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/*Content*/
#contentContainer {
    padding: 200px 0px 280px 0px;
    pointer-events: none;
}

#contentContainer.end {
    padding: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#contentContainer p {
    font-size: 24px;
    font-style: italic;
    color: #707070;
}

/*Question*/
#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 100%;
}

.question {
    font-size: 30px;
    margin-bottom: 1.2em;
}

.options-block {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.option {
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 0.7em;
    background-color: #ffffff5e;
    border: 1px solid gray;
    border-radius: 5em;
    font-size: 26px;
    color: #404040;
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    transition: 1s;
}
.option:hover {
    background-color: #ffd8e9;
}

.result {
    font-size: 24px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

/*Audio player*/
#player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#player.ready {
    transition: 1s;
    transform: translate(-50%, 70%);
}

#audioPlayer {
    display: none;
}

#playButton {
    display: inline-block;
    border: 7px solid #fff;
    border-radius: 25em;
    box-shadow: 7px 6px 3px #ddd;
    cursor: pointer;
}

#playImage {
    height: 200px;
    width: 200px;
    animation: breathe 2s linear infinite alternate;
}

#playImage.rotate {
    transform: rotate(360deg);
    animation: rotate 2s linear infinite;
}

.result.opacity {
    animation: opacity 1s ease-out forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes breathe {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes opacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}